asttokens
backcall
blinker
click
colorama
contourpy
cycler
debugpy
decorator
entrypoints
executing
Flask
fonttools
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter-core
jupyter_client
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
Pillow
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
six
sklearn
stack-data
threadpoolctl
tornado
traitlets
wcwidth
Werkzeug
zipp
